.MuiImageListItem-img.image2 {
  display: none;
}

.MuiImageListItem-root:hover .MuiImageListItem-img.image2 {
  display: block;
}

.MuiImageListItem-root:hover .MuiImageListItem-img.image1 {
  display: none;
}