* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.order {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #79797917;
}
.order-content {
  width: 80%;
  background-color: #79797900;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.order-content-left {
  width: 63%;
}

.order-product {
  width: 100%;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px whitesmoke;
  margin-bottom: 20px;
}

.order-product-item {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  padding: 10px;
}

.order-product-item-img {
  width: 25%;
}

.order-product-item-img img {
  width: 55%;
  border-radius: 5%;
}

.order-product-item-description {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
}
.order-product-item-description h2 {
  font-size: 20px;
}

.order-product-item-total {
  font-size: 20px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-product-item-quantity {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-number {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 18px;
  background-color: #f1f1f5;
}

.order-content-right {
  width: 30%;
  height: 200px;
  box-shadow: 5px 5px 5px 5px whitesmoke;
  border-radius: 20px;
  padding: 25px;
  background-color: white;
  position: fixed;
  right: 110px;
}
.order-total {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 30px;
}

.order-buy {
  margin: 15px 0;
}
.order-buy-button {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border-radius: 15px;
  margin-top: 25px;
  background-color: #7171f7;
  cursor: pointer;
}

.order-convention {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 38px;
  padding: 5px 15px;
  font-size: 15px;
}
.order-convention input {
  cursor: pointer;
}

.order-delivery {
  width: 100%;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px whitesmoke;
  margin-bottom: 20px;
  border: 1px solid black;
}

.order-delivery h2 {
  margin-bottom: 25px;
}

.order-delivery-address {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 10px;
  gap: 20px;
}

.order-delivery-address span {
  font-size: 19px;
  margin: 0 6px;
  text-overflow: ellipsis;
}

.order-delivery-address-input input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 18px;
}

.order-payment-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.order-payment-options-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.order-paymentDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-payment {
  margin-right: 10px;
}
.order-payment,
.order-details {
  width: 50%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px whitesmoke;
  border: 1px solid black;
}

.order-paymentDetails-title h2 {
  margin-bottom: 20px;
}

.order-details img {
  width: 6.5%;
  opacity: 0.8;
}

.order-details-description {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.order-details-description span {
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 6px;
}

@media (max-width: 1300px) {
  .order-content {
    flex-direction: column;
    align-items: center;
  }
  .order-content-right {
    width: 63%;
    position: relative;
    right: 0;
    margin-top: 20px;
  }
}
