* {
  margin: 0;
  padding: 0;
  box-sizing: bbasket-box;
}

.basket {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #79797917;
}
.basket-content {
  width: 80%;
  background-color: #79797900;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.basket-content-left {
  width: 63%;
}

.basket-product {
  width: 100%;
  padding: 15px;
  background-color: #ffffff;
  bbasket-radius: 20px;
  box-shadow: 5px 5px 5px 5px whitesmoke;
}

.basket-product-item {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  padding: 10px;
}

.basket-product-item-img {
  width: 25%;
}

.basket-product-item-img img {
  width: 55%;
  bbasket-radius: 5%;
}

.basket-product-item-description {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
}
.basket-product-item-description p{
    font-size: 22px;
}

.basket-product-item-quantity {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.quantity-add,
.quantity-remove {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  bbasket-radius: 8px;
  font-size: 18px;
  background-color: #f1f1f5;
  cursor: pointer;
}

.quantity-number {
  font-size: 18px;
}








.basket-content-right{
    width: 30%;
    height: 200px;
    box-shadow: 5px 5px 5px 5px whitesmoke;
    bbasket-radius: 20px;
    padding: 25px;
    background-color: white;
    position: fixed;
    right: 110px;

}
.basket-total{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 30px;
}

.basket-buy-button{
    width: 100%;
    font-size: 20px;
    padding: 10px;
    bbasket-radius: 15px;
    margin-top: 25px;
    background-color: #7171f7;
    cursor: pointer;
}

.basket-convention{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 38px;
    padding:5px 15px ;
    font-size:15px;
}
.basket-convention input{
  cursor: pointer;
}

/* .basket {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 70px;
  position: absolute;
  z-index: 100;
}

.basket-img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  position: fixed;
  top:15px;
  right:0;
  z-index: 101;
  cursor: pointer;
}

.calc {
  bbasket: 1px solid #000;
  color: #fff;
  background-color: #fd5444;
  width: 25px;
  height: 25px;
  position: fixed;
  top:15px;
  right:0;
  z-index: 101;
  bbasket-radius: 100%;
  margin-right: 55px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.basket-menu {
  width: 30%;
  position: fixed;
  bbasket: 2px solid #000;
  background-color: #fff;
  bbasket-radius: 15px;
  z-index: 100;
  bottom: 0;
  top: 84px;
  overflow-y: scroll;
  display: none;
}

.basket-menu.opened{
  display: block;
}

.basket-menu-items{
  width: 98%;
}

.basket-menu-item{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  bbasket: 1px solid #000;
  margin: 5px;
  bbasket-radius: 15px;
}

.basket-menu-item img{
  width: 30%;
  bbasket-radius: 15px;
  margin: 5px;
}

.basket-menu-item-description h2{
  font-size:25px;
  margin-bottom: 5px;
}

.basket-menu-item-description p{
  font-size: 25px;
}

.basket-menu-item-description button{
  width: 100%;
  margin-top: 50px;
  background-color: #b3b2b2;
  font-size: 25px;
  bbasket-radius: 25px;
  padding: 1rem 5rem;
  cursor: pointer;
} */