* {
  margin: 0;
  box-sizing: border-box;
}

.header-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #9a999933;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  z-index: 100;
}

.header-icon {
  width: 10%;
  margin-right: 100px;
}

.header-icon img {
  width: 100px;
  height: 40px;
  aspect-ratio: 2.5;
  object-fit: contain;
  mix-blend-mode: color-burn;
}

.header-menu {
  width: 70%;
}

.header-menu1 ul {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 3.5vw;
  padding: 0;
}

.header-menu1 ul li {
  cursor: pointer;
  padding: 0 .5rem;
}

.header-menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 2vh;
}

.header-menu ul li {
  cursor: pointer;
  padding: 0 .5rem;
}

.header-menu ul li a {
  text-decoration: none;
}

.header-menu ul li:hover {
  background-color: #f4f3f3;
  border-radius: 25px;
}

.header-menu1 ul li:hover {
  background-color: #f4f3f3;
  border-radius: 25px;
}

.menu {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.log-in {
  color: #000;
  text-decoration: none;
  padding: 1rem;
  border-radius: 50px;
  margin-right: 40px;
  font-size: 2vh;
}

.log-in:hover {
  background-color: #fff;
}

.get-start {
  background-color: #fd5444;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 15px 0 15px 15px;
  text-decoration: none;
  font-size: 2vh;
}

.get-start:hover {
  box-shadow: 2px 2px 3px 2px #fff;
}

@media (width <= 1113px) {
  .header-log-get {
    display: flex;
    flex-direction: column;
  }

  .log-in {
    font-size: 15px;
  }

  .get-start {
    font-size: 15px;
    margin-top: 5px;
  }

  .header-menu ul {
    margin-top: 25px;
    padding: 0;
  }
}

.header-menu1 {
  width: 50%;
  display: none;
}

@media (width <= 560px) {
  .header-menu {
    display: none;
  }

  .header-menu1 {
    margin-top: 20px;
    display: block;
  }

  .log-in {
    font-size: 3.5vw;
  }

  .get-start {
    font-size: 3.5vw;
  }
}
